Viajecitos-SOAP/01. SERVIDOR/SERVIDOR_Viajecitos/VIAJECITOS_Servidor/VIAJECITOS_Servidor/Connected Services/CondorReference/CondorService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50409/CondorService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" />
  <xs:element name="RegistrarUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="apellido" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarUsuarioResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" minOccurs="0" name="LoginResult" nillable="true" type="q1:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVueloMayorValor">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BuscarVueloMayorValorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" minOccurs="0" name="BuscarVueloMayorValorResult" nillable="true" type="q2:VueloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCompra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVuelo" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCompraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrarCompraResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerUsuarioPorIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" minOccurs="0" name="ObtenerUsuarioPorIdResult" nillable="true" type="q3:UsuarioDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodasLasCompras">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerTodasLasComprasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" minOccurs="0" name="ObtenerTodasLasComprasResult" nillable="true" type="q4:ArrayOfCompraDetalleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVuelos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="origen" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destino" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarVuelosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" minOccurs="0" name="ListarVuelosResult" nillable="true" type="q5:ArrayOfVueloDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCiudades">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListarCiudadesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" minOccurs="0" name="ListarCiudadesResult" nillable="true" type="q6:ArrayOfCiudadDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComprasPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerComprasPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" minOccurs="0" name="ObtenerComprasPorUsuarioResult" nillable="true" type="q7:ArrayOfCompraDetalleDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCompraConFactura">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idVuelo" type="xs:int" />
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
        <xs:element minOccurs="0" name="cantidad" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrarCompraConFacturaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" minOccurs="0" name="RegistrarCompraConFacturaResult" nillable="true" type="q8:FacturaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFacturasPorUsuario">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idUsuario" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerFacturasPorUsuarioResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CONDOR_Servidor.DTO" minOccurs="0" name="ObtenerFacturasPorUsuarioResult" nillable="true" type="q9:ArrayOfFacturaDTO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>